:root {

    --background-main: rgba(146, 171, 180, 1);
    --dark-purple: rgba(88, 131, 145, 1);
    --text-color-white: white;
    --text-color-black: black;
    --btn-back-color: white;
    --padding-bottom: 30px;
    --padding-inline: 20px;
    --deg: 5deg;
}

@font-face {
    font-family: 'fredoka-regular';
    src: url('./resources/fonts/Fredoka-Regular.ttf');
}

@font-face {
    font-family: 'fredoka-light';
    src: url('./resources/fonts/Fredoka-Light.ttf');
}

@font-face {
    font-family: 'fredoka-medium';
    src: url('./resources/fonts/Fredoka-Medium.ttf');
}

* {
    box-sizing: border-box;
}

body {
    background: var(--background-main);
    margin: 0;
    font-family: 'fredoka-regular';
}

main {
    max-width: 430px;
    /*the width of a iphone 15 pro max*/
    width: 100%;
    height: 100dvh;
    margin: 0 auto;
    padding-bottom: var(--padding-bottom);
    background: var(--background-main);
    display: flex;
    flex-direction: column;
    color: var(--text-color-white);
    overflow: auto;
    position: relative;
}


dialog {
    max-width: 430px;
    max-height: 100%;
    /*the width of a iphone 15 pro max*/
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: var(--dark-purple);
    color: var(--text-color-white);
    border: none;
    padding: 0;
    /* box-sizing: unset; */
}

.btn {
    padding: 10px 20px;
    background-color: var(--btn-back-color);
    border: none;
    box-shadow: 1px 1px 2px black;
    border-radius: 15px;
    letter-spacing: 2px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'fredoka-medium';
}

input {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px gray;
    text-align: center;
    border: none;

    &:focus {
        outline: none;
    }
}

.sub-title {
    text-align: center;
    margin-block: 15px;
    font-size: 22px;
    font-family: 'fredoka-medium';
}

.responsive-img {
    max-width: 430px;
    width: 100%;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.next-step-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 85vw;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.btn-input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    & button {
        width: max-content;
        align-self: center;
    }

    & input {
        margin: 0 20px;
    }
}

.regular-text {
    margin: 10px;
    font-size: 16px;
    font-family: 'fredoka-light';
    line-height: 19px;
}

.wrong-input {
    border: 2px solid rgb(154, 21, 21);
    animation: wrongInput .3s;
}

@keyframes wrongInput {
    25% {
        transform: translateX(4px);
    }

    50% {
        transform: translateX(-4px);
    }

    75% {
        transform: translateX(4px);
    }
}

/* HTML: <div class="loader"></div> */

#loader-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 40px;
    height: 40px;
    --c: no-repeat linear-gradient(orange 0 0);
    background: var(--c), var(--c), var(--c), var(--c);
    background-size: 21px 21px;
    animation: l5 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l5 {
    0% {
        background-position: 0 0, 100% 0, 100% 100%, 0 100%
    }

    33% {
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        width: 60px;
        height: 60px
    }

    66% {
        background-position: 100% 0, 100% 100%, 0 100%, 0 0;
        width: 60px;
        height: 60px
    }

    100% {
        background-position: 100% 0, 100% 100%, 0 100%, 0 0
    }
}

#game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px var(--padding-inline);

    & #leave-game {
        background: none;
        border: none;

        & img {
            height: 30px;
            width: 30px;
        }

    }

    & #points {
        font-size: 20px;
    }
}

#leave-popup {
    height: 200px;
    width: 80vw;
    top: 30%;
    border-radius: 20px;

    &::backdrop {
        backdrop-filter: blur(20px);
    }

    & div p {
        text-align: center;
    }

    & #leave-btn-container {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        padding-inline: 20px;

        & #leave {
            background-color: rgb(255, 114, 114);
        }
    }
}