#leaderboard-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    & a {
        margin: auto;
        color: black;
        text-decoration: none;
    }
}

#list-container {
    position: relative;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    max-height: 70vh;
    min-height: 50vh;
    overflow: scroll;

    & h1 {
        text-align: center;
    }
}

.player {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-inline: 10px;
    background-color: var(--dark-purple);
    border-radius: 10px;
    /* list-style: decimal; */

    & p {
        margin: 10px 0;
    }

    &:nth-child(2) {
        background-color: #FFD700;
    }

    &:nth-child(3) {
        background-color: silver;
    }

    &:nth-child(4) {
        background-color: #CD7F32;
    }
}

#firework {
    position: absolute;
    inset: 0;
}