#clue-container {
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 20px;
}

#timer-container {
    width: 100%;
    height: 1em;
    background-color: aliceblue;
    border-radius: .5em;

    & #countdown {
        height: 100%;

        background-color: var(--dark-purple);
        border-radius: inherit;

        transition: width 2s linear;
    }
}