#clue-container {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-inline: var(--padding-inline);
    padding-bottom: 30px;
    position: relative;
    background: var(--dark-purple);
    border-radius: 0 0 40px 40px;
}

#game-header {
    background: var(--dark-purple);
}

#timer-container {
    width: 80%;

    height: 1em;
    background-color: white;
    border-radius: .5em;


    & #countdown {
        height: 100%;
        background-color: var(--background-main);
        border-radius: inherit;

        transition: width 1s linear;
    }
}

#clue-point {
    font-size: 32px;
    font-family: 'fredoka-medium';
    background-color: var(--dark-purple);
    box-shadow: 0px 0px 3px rgb(172, 172, 172, 50);
    border-radius: 50%;
    position: absolute;
    bottom: -40px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}