#control-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#stopwatch-btn {
    all: unset;
    position: absolute;
    left: 25px;
    top: -13px;

    & #stopwatch {
        width: 120px;
    }

    animation: shakeStopWatch 1s infinite;

}

@keyframes shakeStopWatch {

    20% {
        transform: rotateZ(var(--deg));
    }

    40% {
        transform: rotateZ(-(var(--deg)));
    }

    60% {
        transform: rotateZ(var(--deg));
    }

    80% {
        transform: rotateZ(-(var(--deg)));
    }
}

.hide {
    display: none !important;
}

#short-timer {
    margin: 0;
    align-self: center;
    font-size: 18px;
    color: rgb(198, 55, 55);
}