#control-container {
    margin-top: 3vh;

    & #short-timer {
        margin: 0;
        align-self: center;
        font-size: clamp(1rem, 4.2vw, 1.25rem);
        color: rgb(198, 55, 55);

    }
}



#clue-transport {
    height: 23vh;
    max-width: 430px;
}

#stopwatch-container {
    left: 50%;
    transform: translateX(-50%);
    max-width: 430px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#stopwatch-btn {
    all: unset;
    position: absolute;
    left: 65px;
    top: -15px;

    & #stopwatch {
        max-width: 160px;
        height: 9vh;
    }

    animation: shakeStopWatch 1s infinite;

}

@keyframes shakeStopWatch {

    20% {
        transform: rotateZ(var(--deg));
    }

    40% {
        transform: rotateZ(-(var(--deg)));
    }

    60% {
        transform: rotateZ(var(--deg));
    }

    80% {
        transform: rotateZ(-(var(--deg)));
    }
}

.hide {
    display: none !important;
}