#map-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-inline: var(--padding-inline);
    height: 100%;

    & p {
        text-align: center;
        margin-inline: 0;
    }
}


#map-img-container {
    /* overflow: hidden;
    max-height: 200px; */

    & video {
        width: 100%;
    }

}