#clue-text-container {
    width: 100%;
    max-height: 33vh;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;

    & h4 {
        margin: 0;
        margin-inline: var(--padding-inline);
        align-self: center;
        text-align: center;
    }

    & img {
        object-position: center;
        object-fit: fill;
    }
}

#timer {
    font-size: 30px;
}