#quiz-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
}

#question-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 2vh;

    & #current-question {
        font-size: 24px;
        background-color: var(--dark-purple);
        box-shadow: 0px 0px 18px white;
        padding: 20px;
        border-radius: 50%;
        width: fit-content;
    }
}

#alternatives-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.answer {
    font-size: 18px;
    background-color: var(--dark-purple);
    color: var(--text-color-white);
    border-radius: 5px;
    padding-block: 20px;
    border: none;
}


.right {
    background-color: rgba(107, 212, 105, 1);
    /* animation: pulse 1s; */
}

.wrong {
    background-color: coral;
    /* animation: pulse 1s; */
}

@keyframes pulse {
    20% {
        padding: 8px 16px;
    }

    40% {
        padding: 10px 20px;
    }

    60% {
        padding: 8px 16px;
    }

    80% {
        padding: 10px 20px;
    }
}